<div class="container d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center"> 
			<img src={{US_img}} width="100" class="rounded-circle">
			<h3 class="mt-2">{{name}}</h3>
			<span class="mt-1 clearfix">user in Abds watches</span>
			<div class="row mt-3 mb-3">
				<div class="col-md-4">
					<h5>Email</h5>
					<span class="num">{{mail}}</span>
				</div>
				<div class="col-md-4">
					<h5>Gender</h5>
					<span class="num">{{gender}}</span>
				</div>
				<div class="col-md-4">
					<h5>Birth Date</h5>
					<span class="num">{{birth}}</span>
				</div>
			</div>   
        </div>
    </div>
</div> 

