<div class="first">
    <h1>About Us Page</h1>
    <p> the global software </p>
    <button class="btn" (click)="onSave()">Moode</button>
<br>
<br>
<br>
</div>

<br>
<div class="key">
<div class="card" style="background-color: {{bgColor}};">
    <img class="IMG" src="https://www.varietyinsight.com/images/honoree/Mark_Zuckerberg.png" alt="" style="width:50%;">
    <div class="container" style="color:{{textColor}}">
      <h3><b>{{name1}}</b></h3>
      <p>ID:{{ID1}}</p>
      <p>Mail:{{Mail1}}</p> 
       
    </div>
  </div>
  <div class="card" style="background-color: {{bgColor}};">
    <img class="IMG" src="https://ted-conferences-speaker-photos-production.s3.amazonaws.com/yoa4pm3vyerco6hqbhjxly3bf41d" alt="" style="width:50%;">
    <div class="container" style="color:{{textColor}}">
      <h3><b>{{name2}}</b></h3>
      <p>ID:{{ID2}}</p>
      <p>Mail:{{Mail2}}</p>  
       
    </div>
  </div>
</div>

