@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
.cc{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
  .SocialMedia {
    text-align: center;
  }